# =========================
# Data (Generated)
# =========================
data/raw/
data/processed/
data/metadata/

# =========================
# Model Artifacts
# =========================
models/

# =========================
# Feature Store / MLflow
# =========================
notebooks/mlruns/
*.db

# =========================
# Logs & Outputs
# =========================
logs/
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# OS Files
# =========================
.DS_Store